*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 215%;
    color: #4B4F51;
}

/* COMMON STYLES */
.container {
    max-width: 1440px;
    padding: 0;
}

h1 {
    margin-bottom: 30px;box-
    font-family: 'Red Hat Display', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #035755;
}

h2 {
    margin-bottom: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #035755;
}

h3 {
    margin-bottom: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 29px;
    font-weight: 700;
    color: #FA5652;
}

p {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

button {
    border: 2px solid #FB4C47;
    border-radius: 65px;
    font-weight: 700;
    color: #FFF;
    background-color: #FB4C47;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #FB4C47;
}

input:focus {
    outline: none;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color: #FFF;
    box-shadow: 0px 0px 8px 8px #FFF;
    z-index: 100;
}

/* nav */
.nav__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__right-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.logo__name {
    margin: 10px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    color: #035755;
}

.nav__item {
    margin: 20px;
    font-weight: 700;
    color: #035755;
}

.nav__item:last-child {
    margin-right: 40px;
}

.nav__item--active a {
    color: #FB4C47;
}

.nav__item--active:after {
    display: block;
    margin-left: 50%;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FB4C47;
}

.nav__contact-button {
    width: 155px;
    height: 55px;
    border-radius: 45px;
    color: #FB4C47;
    background-color: transparent;
}

.nav__contact-button:hover {
    background-color: #FFF8F8;
}


/* MAIN */
/* introduction */
.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    padding: 200px 0 200px 0;
}

.introduction__title {
    margin-bottom: 20px;
    font-size: 32px;
    color: #FB4C47;
}

.introduction__text {
    margin-bottom: 55px;
    font-size: 24px;
} 

.introduction__img {
    position: absolute;
    top: 0px;
    right: -240px;
    transition: opacity .5s linear;
}

.introduction__help-button {
    width: 250px;
    height: 80px;
    font-size: 24px;
    text-transform: capitalize;
}

/* about-us */
.about-us {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 100px 0 180px 0;
}

.about-us__img {
    position: absolute;
    left: -250px;
}

.about-us__title {
    margin-bottom: 15px;
}

.about-us__text {
    margin-bottom: 55px;
}

.about-us__info-button {
    width: 200px;
    height: 65px;
    text-transform: capitalize;
    color: #FA5652;
    border: none;
    background-color: rgba(250, 86, 82, 0.15);
}

/* contagion */
.contagion {
    position: relative;   
    margin-bottom: 190px;
}

.contagion__description {
    margin-bottom: 110px;
}

.contagion__cases {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 30px;
}

.contagion__item-wrapper {
    box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
    border-bottom: 6px solid transparent;
    border-radius: 10px;
}

.contagion__item-wrapper:hover,
.contagion__item-wrapper--active {
    border-color: #FA5652;
}

.contagion__item {
    justify-content: flex-start;
    padding: 55px 90px 75px 90px;
    height: 100%;
}

.contagion__case-img {
    margin-bottom: 55px;
}

.contagion__case-title {
    font-size: 36px;
    color: #035755;
}

.background-img--contagion {
    position: absolute;
    left: -125px;
    bottom: 0;
    box-shadow: none;
}

/* symptomps */
.symptomps {
    margin-bottom: 155px;
}

/* protection */

.protection__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.protection__wrapper {
    display: flex;
    justify-content: space-between;
}

.protection__description {
    display: flex;
    justify-content: flex-start;
}

.protection__number {
    margin-right: 40px;
    padding-top: 20px;
    min-width: 75px;
    height: 75px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 44px;
    font-weight: 700;
    color: #FA5652;
    border-radius: 50%;
    background-color: rgba(250, 86, 82, 0.15);
}

.protection__item-title {
    margin-bottom: 20px;
    font-size: 47px;
    color: #035755;
}

/* statistics */
.statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.statistics__map {
    margin-left: -5;
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
}

.statistics__rating {
    padding: 55px;
    min-width: 505px;
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    z-index: 0;
}

.statistics__heading, .statistics__table {
    width: 100%;
}

.statistics__title {
   font-size: 48px; 
}

.statistics__heading {
    display: flex;
    justify-content: space-between;
}

.statistics__sheets {
    display: flex;
    align-items: center;
    max-width: 88px;
    max-height: 50px;
    box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
    border-radius: 6px;
    background-color: #fff;
  }
  
  .statistics__controler-wrapper {
    display: flex;
    align-items: center;
    height: 20px;
  }
  
  .statistics__controler-wrapper-left {
    border-right: 1px solid #DEE1ED;
  }
  
  .statistics__controler {
    width: 10px;
    height: 10px;
    margin: 15px;
    border-left: 3px solid #A2A5B2;
    border-bottom: 3px solid #A2A5B2;
    transform: rotate(45deg);
  }

  .statistics__controler-eventual {
    border-color: #F44A45;
  }

  
  .statistics__controler--next {
    transform: rotate(-135deg);
  }

.statistics__table {
    vertical-align: center;
    font-weight: 700;
    color: #13615F;
}

.statistics__table td {
    padding: 20px 22px 20px 0px;
}

table td:nth-of-type(1) {
    width: 50px;
}

table td:nth-of-type(2) {
    width:  40%;
    font-size: 31px;
    text-align: left;
}

table td:nth-of-type(3) {
    width:  40%;
    font-size: 24px;
    text-align: right;
}

table td:last-child {
    padding-right: 0;
}

.statistics__table-arrow {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #F44A45;
}

/* feedback */
.feedback {
    margin-bottom: 145px;
}

.feedback__form {
    display: flex;
    justify-content: space-between;
    padding: 18px 18px 18px 40px;
    width: 790px;
    font-size: 22px;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
    border-radius: 57px;
    background-color: #FFF;
}

.feedback__email {
    border: none;
    background-color: inherit;
}

.feedback__button {
    padding: 26px 80px;
}

/* footer */
footer {
    margin-bottom: 25px;
}

.nav__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    font-size: 23px;
}

.socil-link {
    margin-right: 40px;
    font-size: 22px;
    color: #035755
}

.socil-link:last-child {
    margin-right: 0px;
}

.fa-youtube {
    color: #FF0000;
}

.footer-copyright {
    text-align: center;
    color: #415E56;
}


/*BACKGROUND*/
.background-img {
    position: absolute;
    right: 0;
    z-index: 0;
}

.background-img--introduction {
    top: 2%;
}

.background-img--about-us {
    top: 15%;
}

.background-img--protection-left {
    top: 58%;
    left: 0;
}

.background-img--protection-right {
    top: 75%;
}

.background-img--feedback {
    bottom: 1%;
}

/*ADAPTIVE*/
@media (max-width: 1500px) {
    .container {
        max-width: 1200px;
    }

    /*contagion*/
    .contagion__item {
        padding: 55px 50px 65px 50px;
    }

}


@media (max-width: 1200px) {

    body {
        font-size: 16px;
    }

    /* COMMON STYLES */
    .container {
        max-width: 850px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 43px;
    }

    h3 {
        margin-bottom: 10px;
        font-size: 25px;
    }

    /* nav */

    .nav__item {
        margin: 10px;
    }

     /*introduction*/
     .introduction {
        padding: 50px 0 100px 0;
    }

    .introduction__title {
    margin-bottom: 15px;
    font-size: 27px;
    }

    .introduction__text {
    font-size: 20px;
    }

    .introduction__img {
        width: 550px;
        top: 50px;
        right: -40px;
    }

    .introduction__help-button {
        width: 215px;
        height: 70px;
        font-size: 20px;
    }

    /*about-us*/
    .about-us__img {
        left: -270px;
    }

    /*contagion*/
    .contagion__description {
    margin-bottom: 80px;
    }

    .contagion__cases {
        grid-gap: 10px;
    }

    .contagion__item {
        justify-content: flex-start;
        padding: 35px 45px 40px 45px;
        height: 100%;
    }

    .contagion__case-img {
        width: 170px;
        margin-bottom: 30px;
    }

    .contagion__case-title {
    font-size: 30px;
    }

    .contagion__case-text {
        font-size: 14px;
    }

    /*symptomps*/
    .symptomps {
        margin-bottom: 135px;
    }

    .symptomps__img {
        width: 100%;
    }

    /*protection*/
    .protection__item {
        margin-bottom: 50px;
    }

    .protection__item-title {
        margin-bottom: 15px;
        font-size: 40px;
    }

    .protection__img {
        width: 50%;
    }

    .protection__number {
        font-size: 36px;
        margin-right: 20px;
    }

    /*statistics*/
    .statistics {
        display: block;
        margin-bottom: 130px;
    }

    .statistics__heading,
    .statistics__table {
        width: 70%;
    }

    .statistics__title {
        font-size: 40px;
    }

    table td:nth-of-type(2) {
        font-size: 25px;
    }

    table td:nth-of-type(3) {
        width: 40%;
        font-size: 20px;
    }

    /*feedback*/
    .feedback {
        margin-bottom: 125px;
    }

    .feedback__title {
         font-size: 40px;
    }

    .feedback__button {
        padding: 22px 70px;
    }

    /*footer*/
    .nav__footer,
    footer .logo__name,
    .socil-link  {
        font-size: 18px;
    }

    .socil-link {
    margin-right: 30px;
    }

    /*background*/
    .background-img {
        display: none;
    }

    
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 33px;
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 14px;
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }

    /* COMMON STYLES */
    .container {
        max-width: 650px;
    }

    /*hnav*/
    .nav__header {
        margin-bottom: 35px;
    }

    .nav__item:last-child {
        margin-right: 20px;
    }

    .nav__contact-button {
        width: 100px;
        height: 40px;
    }

    /*introduction*/
    .introduction__description {
        z-index: 1;
    }

    .introduction__title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .introduction__text {
        font-size: 15px;
        margin-bottom: 40px;
    }

    .introduction__help-button {
        width: 155px;
        height: 50px;
        font-size: 15px;
    }

    .introduction__img {
        z-index: 0;
        top: 0;
        right: -115px;
    }

    /*about-us*/
    .about-us {
        margin: 100px 0 130px 0;
    }

    .about-us__text {
        margin-bottom: 40px;
    }

    .about-us__info-button {
        width: 146px;
        height: 47px;
    }

    .about-us__img {
        left: -175px;
        width: 100%;
    }

    /*contagion*/
    .contagion__description {
        margin-bottom: 50px;
    }

    .contagion__item {
        padding: 30px 25px 30px 25px;
    }

    .contagion__case-img {
        width: 150px;
        margin-bottom: 20px;
    }

    .contagion__case-title {
        font-size: 20px;
    }

    /*contagion*/
    .contagion {
        margin-bottom: 140px;
    }

    /*symptomps*/
    .symptomps {
        margin-bottom: 100px;
    }

    /*protection*/
    .protection__description {
        margin-bottom: 30px;
    }

    .protection__number {
        margin-right: 15px;
        padding-top: 13px;
        min-width: 55px;
        height: 55px;
        font-size: 26px;
    }

    .protection__item-title {
        font-size: 27px;
    }

    .protection__img {
        display: none;
    }

    /*statistics*/
    .statistics__title {
        font-size: 30px;
    }

    table td:nth-of-type(2) {
        font-size: 22px;
    }

    table td:nth-of-type(3) {
        font-size: 16px;
    }

    /*feedback*/
    .feedback {
        margin-bottom: 90px;
    }

    .feedback__title {
        font-size: 30px;
    }

    .feedback__form {
        width: 100%;
    }

    .feedback__button {
        padding: 15px 50px;
    }

    /*footer*/
    .nav__footer,
    footer .logo__name,
    .socil-link  {
        font-size: 15px;
    }

    .nav__item {
        margin: 5px;
    }

    .socil-link {
    margin-right: 10px;
    }

}

@media (max-width: 768px) {
    /* COMMON STYLES */ 
    .container {
        max-width: 500px;
    }

    /*header*/
    .logo__name {
    display: none;
    }

    /*nav*/
    .nav__item:last-child {
        margin-right: 10px;
    }

    /*introduction*/
    .introduction__img {
        right: -70px;
        opacity: 0.5;
    }

    /*contagion*/
    .contagion {
        margin-bottom: 100px;
    }

    .contagion__cases {
        grid-template: 1fr / 1fr;
        grid-gap: 30px;
    }

    .contagion__case-title {
        font-size: 18px;
        margin: 10px;
    }

    /*protection*/
    .protection {
        margin-bottom: 100px;
    }

    .protection__item {
        margin-bottom: 10px;
    }

     /*statistics*/
     .statistics {
        margin-bottom: 100px;
    }

    .statistics__heading,
    .statistics__table {
        width: 100%;
    }

    /*footer*/
    .nav__footer{
        margin-bottom: 20px;
    }

    .feedback__title {
        font-size: 27px;
    }

    .feedback__email {
        font-size: 16px;
    }

    .feedback__button {
        padding: 10px 30px;
        font-size: 18px;
    }

    .socil-link {
        margin-right: 7px;
    }   
        
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }

    /* COMMON STYLES */ 
    .container {
        max-width: 300px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 15px;
    }

    /*nav*/
    .nav__header {
        margin-bottom: 15px;
    }

    .nav__menu:before {
        display: block;
        content: "MENU";
        margin-right: 50px;
        font-weight: 700;
        color: #FB4C47;
    }

    .nav__item {
        display: none;
    }

    /*introduction*/
    .introduction {
        padding: 30px 0 10px 0;
    }

    .introduction__img {
        width: 100%;
        right: 0px;
    }

    /*protection*/

    .protection {
        margin-bottom: 50px;
    }

    .protection__number {
        margin-right: 10px;
        padding-top: 8px;
        min-width: 40px;
        height: 40px;
        font-size: 20px;
    }

    /*statistics*/
    .statistics {
        margin-bottom: 50px;
    }

    .statistics__map iframe {
        height: 400px;
    }

    .statistics__rating {
        padding: 25px;
        min-width: 100%;
    }

    .statistics__title {
        font-size: 25px;
    }

    .statistics__table td {
        padding: 10px 8px 10px 0px;
    }

    table td:nth-of-type(2) {
        font-size: 20px;
    }

    table td:nth-of-type(3) {
        font-size: 16px;
    }

    /*feedback*/
    .feedback {
        margin-bottom: 40px;
    }

    .feedback__title {
        font-size: 25px;
    }

    .feedback__form {
        padding: 10px 10px 10px 30px;
    }

    .feedback__email {
        font-size: 12px;
    }

    .feedback__button {
        padding: 5px 20px;
        font-size: 15px;
    }
}

