*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 215%;
    color: #4B4F51;
    background-color: #FFF8F8;
}

/* COMMON STYLES */
.container {
    max-width: 1440px;
    padding: 0;
}

h1 {
    margin-bottom: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #035755;
}

h2 {
    margin-bottom: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #035755;
}

h3 {
    margin-bottom: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 29px;
    font-weight: 700;
    color: #FA5652;
}

li {
    list-style-type: none;
}

button {
    border: 2px solid #FB4C47;
    border-radius: 65px;
    font-weight: 700;
    color: #FFF;
    background-color: #FB4C47;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* HEADER */
header {
    margin: 30px;
}

/* nav */
.nav__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__right-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.logo__name {
    margin: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #035755;
}

.nav__item {
    margin: 20px;
    font-weight: 700;
    color: #035755;
}

.nav__item:last-child{
    margin-right: 40px;
}

.nav__contact-button {
    width: 155px;
    height: 55px;
    border-radius: 45px;
    color: #FB4C47;
    background-color: transparent;
}

/* introduction */

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    padding: 300px 0 200px 0;
}

.introduction__title {
    margin-bottom: 20px;
    font-size: 32px;
    color: #FB4C47;
}

.introduction__text {
    margin-bottom: 55px;
    font-size: 24px;
} 

.introduction__img {
    position: absolute;
    top: 0px;
    right: -240px;
}

.introduction__help-button{
    width: 250px;
    height: 80px;
    font-size: 24px;
    text-transform: capitalize;
}

/* MAIN */
/* about-us */
.about-us {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 100px 0 180px 0;
}

.about-us__img {
    position: absolute;
    left: -250px;
}

.about-us__title {
    margin-bottom: 15px;
}

.about-us__text {
    margin-bottom: 55px;
}

.about-us__info-button{
    width: 200px;
    height: 65px;
    text-transform: capitalize;
    color: #FA5652;
    border: none;
    background-color: rgba(250, 86, 82, 0.15);
}

/* contagion */
.contagion {
    margin-bottom: 190px;
}

.contagion__description {
    margin-bottom: 110px;
}

.contagion__cases {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 30px;
}

.contagion__item {
    justify-content: flex-start;
    padding: 55px 90px 75px 90px;
    box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

.contagion__case-img {
    margin-bottom: 55px;
}

.contagion__case-title {
    font-size: 36px;
    color: #035755;
}

/* symptomps */
.symptomps {
    margin-bottom: 155px;
}

/* protection */
/* .protection{
    margin-bottom: 190px;
} */

.protection__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.protection__wrapper {
    display: flex;
    justify-content: space-between;
}

.protection__description {
    display: flex;
    justify-content: flex-start;
}

.protection__number {
    /* display: block; */
    margin-right: 40px;
    padding-top: 20px;
    width: 75px;
    height: 75px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 44px;
    font-weight: 700;
    color: #FA5652;
    border-radius: 50%;
    background-color: rgba(250, 86, 82, 0.15);
}

.protection__item-title {
    margin-bottom: 20px;
    font-size: 47px;
    color: #035755;
}

/* statistics */
.statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.statistics__map {
    margin-left: -5;
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
}

.statistics__rating {
    padding: 55px;
    min-width: 505px;
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    z-index: 0;
}

.statistics__heading, .statistics__table {
    width: 100%;
}

.statistics__title {
   font-size: 48px; 
}

.statistics__heading {
    display: flex;
    justify-content: space-between;
}

.statistics__sheets {
    display: flex;
    justify-content: center;
    width: 85px;
    height: 50px;
    box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
    border-radius: 6px;
}

.statistics__table {
    vertical-align: center;
    font-weight: 700;
    color: #13615F;
}

.statistics__table td{
    padding: 20px 22px 20px 0px;
}

table td:nth-of-type(1) {
    width: 50px;
}

table td:nth-of-type(2) {
    width:  40%;
    font-size: 31px;
    text-align: left;
}

table td:nth-of-type(3) {
    width:  40%;
    font-size: 24px;
    text-align: right;
}

table td:last-child {
    padding-right: 0;
}

.statistics__table-arrow{
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #F44A45;
}

/* feedback */
.feedback {
    margin-bottom: 145px;
}

.feedback__form {
    display: flex;
    justify-content: space-between;
    padding: 18px 18px 18px 40px;
    width: 790px;
    font-size: 22px;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
    border-radius: 57px;
    background-color: #FFF;
}

.feedback__email {
    border: none;
    background-color: inherit;
}

.feedback__button {
    padding: 26px 80px;
}